<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href="/spending-tracker/my-merchants">My merchants</a></h3>
</div>

<form method="post" action="/spending-tracker/my-merchants">

<div id="index" class="flex-container">
    <% for merchant in @merchants %>
        <h3 class="flex-container" id="title"><a href="/spending-tracker/my-merchants/<%= merchant.id %>"><%= merchant.name %></a></h3>
    <% end %>
</div>

<label for="name"></label>
<input
    id="name"
    type="text"
    name="name"
    value=""
    placeholder="add merchant"/>

<input type="submit" id="new" name="new" value="New">
</form>