<h3><a href='/spending-tracker/my-spendings'>My Spendings</a></h3>
<h3><a href='/spending-tracker/my-tags'>My Tags</a></h3>
<h3><a href='/spending-tracker/my-merchants'>My Merchants</a></h3>
<h3><a href='/spending-tracker/my-budgets'>My Budgets</a></h3>
