<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href='/spending-tracker/my-spendings' class="shape rectandle">My Spendings</a></h3>
    <h3 class="flex-container" id="title"><a href='/spending-tracker/my-tags' class="shape rectandle">My Tags</a></h3>
    <h3 class="flex-container" id="title"><a href='/spending-tracker/my-merchants' class="shape rectandle">My Merchants</a></h3>
    <h3 class="flex-container" id="title"><a href='/spending-tracker/my-budgets' class="shape rectandle">My Budgets</a></h3>
</div>