
<form method="post" action="/spending-tracker/my-tags">

<h3>My tags</h3>

<label for="name"></label>
<input
    id="name"
    type="text"
    name="name"
    value="..."/>


        <% for tag in @tags %>
                <p><%= tag.name %></p>
        <% end %>



<input type="submit" id="new" name="new" value="New">
<input type="submit" id="update" name="update" value="Update">
<input type="submit" id="delete" name="delete" value="Delete">

</form>