<h3>My tags</h3>

<table>
    <tbody>
        <% for tag in @tags %>
            <tr>
                <td><%= tag.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>






<form method="post" action="/spending-tracker/my-tags">
    <input type="submit" id="delete" name="update" value="Update">
    <input type="submit" id="delete" name="delete" value="Delete"></form>
</form>