body {
    background-color: #f5f6fa;
    font-family: 'Arial','Comicsans','DejaVu Sans',sans-serif;
}

h1 {
    background-color: #3db1c1;
    text-align: center;
    align-content: center;
    height: 60px;
}


a:link, a:visited {
    text-transform: uppercase;
    text-align: center;
    text-align: justify;
    text-decoration: none;
}

h1 a {
    color: white;
}

h3 a {
    color: white;
}

td a {
    color: black;
}

td a:hover {
    background-color: rgb(106, 207, 145);
    color: white;
}


.flex-container {
    /* background-color: #3db1c1; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-content: center;
}

.flex-container > #title_main {
    background-color: #3db1c1;
    height: 60px;
}

.flex-container > #title {
    background-color: #3db1c1;
    height: 60px;
    width: 180px;
    margin: 5px;
}

/* #index {
    flex-wrap: wrap;
} */

.shape {
    margin: 0 5px;
}

th,td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}