body {
    background-color: #f5f6fa;
    font-family: 'Arial','Comicsans','DejaVu Sans',sans-serif;
}

h1 {
    background-color: #3db1c1;
    text-align: center;
    align-content: center;
    height: 60px;
}

a:link, a:visited {
    color: black;
    text-transform: uppercase;
    text-align: center;
    text-align: justify;
    text-decoration: none;
}

h1 a {
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    align-content: space-between;
    align-content: center;
}

.shape {
    margin: 0 5px;
}

th,td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}