<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href="/spending-tracker/my-tags">My tags</a></h3>
</div>

<form method="post" action="/spending-tracker/my-tags">

<div id="index" class="flex-container">
    <% for tag in @tags %>
        <h3 class="flex-container" id="title"><a href="/spending-tracker/my-tags/<%= tag.id %>"><%= tag.name %></a></h3>
    <% end %>
</div>

<label for="name"></label>
<input
    id="name"
    type="text"
    name="name"
    value=""
    placeholder="add tag"/>

<input type="submit" id="new" name="new" value="New">
</form>