<form method="post" action="/spending-tracker/my-tags">

<h3>My tags</h3>

<label for="name"></label>
<input
    id="name"
    type="text"
    name="name"
    value=""
    placeholder="add tag"/>


<% for tag in @tags %>
        <p><a href="/spending-tracker/my-tags/<%= tag.id %>"><%= tag.name %></a></p>
<% end %>

<input type="submit" id="new" name="new" value="New">
</form>