<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href='/spending-tracker/my-budgets'>My budgets</a></h3>
</div>

<form method='post' action='/spending-tracker/my-budgets/new'>

    <label for="name"></label>
    <input
        id="name"
        type="text"
        name="name"
        placeholder="name"/>

    <label for="amount"></label>
    <input
        id="amount"
        type="float"
        name="amount"
        placeholder="amount: £"/>

    <label for="alert-under">alert:</label> 
    <select name="alert_limit" id="alert_limit">
        <option value="0">none</option>
        <option value="50">50% left</option>
        <option value="25">25% left</option>
        <option value="10">10% left</option>
    </select>

    <input type="submit" value="New Budget">
</form>