
<h3>My budgets</h3>
<p><a href="/spending-tracker/my-budgets/new">Create Budget</a></p>

<% for budget in @budgets %>
        <p><a href="/spending-tracker/my-budgets/<%= budget.id %>"><%= budget.name %></a></p>
<% end %>